.idea/workspace.xml
.factorypath

/bin
/lib/java
/lib/java-contrib
/lib/*.jar
/lib/java/build/*.jar
/lib/java/checkstyle/*.jar
/lib/java/spotbugs/*.jar
/lib/java/runtime/*.jar
/lib/java/test/*.jar
lib/native/source/libz3j/org_sosy_lab_solver_z3_Z3NativeApi.c
lib/native/source/*/*.so
lib/native/source/*/*.o

/ivy-*.xml
/common-*.jar
/TEST-*.txt
/junit
/JUnit.html
/JUnit-coverage
/Checkstyle.html
/Checkstyle.xml
/Checkstyle.Test.html
/Checkstyle.Test.xml
/SpotBugs.html
/SpotBugs.xml
/SpotBugs.diff.html
/SpotBugs.diff.xml
/Javadoc
/gh-pages

.idea/workspace.xml
.idea/uiDesigner.xml

/*.so
/*.jar

build.properties
/.apt-generated/
/repository

pom.xml
