# This file is part of JavaSMT,
# an API wrapper for a collection of SMT solvers:
# https://github.com/sosy-lab/java-smt
#
# SPDX-FileCopyrightText: 2020 Dirk Beyer <https://www.sosy-lab.org>
#
# SPDX-License-Identifier: Apache-2.0

.factorypath

/bin
/lib/java
/lib/java-contrib
/lib/*.jar
/lib/java/build/*.jar
/lib/java/checkstyle/*.jar
/lib/java/spotbugs/*.jar
/lib/java/runtime/*.jar
/lib/java/test/*.jar
lib/native/source/libz3j/org_sosy_lab_solver_z3_Z3NativeApi.c
lib/native/source/libbitwuzla/build
lib/native/source/libbitwuzla/doc
lib/native/source/libbitwuzla/install
lib/native/source/*/*.so
lib/native/source/*/*.o
lib/native/source/**/*.java
lib/native/source/**/**/*.java
lib/native/*/*.asc

doc/Example-Maven-Project/target*
doc/Example-Maven-Web-Project/target*
doc/Example-Gradle-Project/.gradle
doc/Example-Gradle-Project/.settings
doc/Example-Gradle-Project/.project
doc/Example-Gradle-Project/dependencies
doc/Example-Gradle-Project/build
doc/Example-Gradle-Project-Kotlin/.gradle
doc/Example-Gradle-Project-Kotlin/.settings
doc/Example-Gradle-Project-Kotlin/.project
doc/Example-Gradle-Project-Kotlin/build

solvers_maven_conf/*.asc

/ivy-*.xml
/common-*.jar
/TEST-*.txt
/junit
/JUnit.html
/JUnit-coverage
/Checkstyle.html
/Checkstyle.xml
/Checkstyle.Test.html
/Checkstyle.Test.xml
/SpotBugs.html
/SpotBugs.xml
/SpotBugs.diff.html
/SpotBugs.diff.xml
/Javadoc
/Javadoc-z3
/gh-pages

.idea/

/*.so
/*.dll
/*.jar

build.properties
/.apt-generated/
/repository

pom.xml
